@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap');

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Ubuntu', sans-serif;
}

header > .contenedorEncabezado,
footer > .contenedorPieDePagina{
  max-width: 100%;
  height: 4.1rem;
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #505050;
  color: #fff;
}

.contenedorEncabezado > h1 {
  margin: 0;
  font-size: clamp(1rem, 5vw, 4rem);
}

main {
  width: 100vw;
  height: 80vh;
  display: grid;
  place-items: center;
}


main > .calculadora{
  width: 21.5rem;
  height: 33rem;
  margin: 0 auto;
  padding: 1rem;
  display: block;
  border-radius: 1rem;
  background-color: #696969;
  box-shadow: 0 15px 35px rgba(0, 0, 0, .5),
        0 10px 20px rgba(0, 0, 0, .5);
}

.calculadora td > button{
  display: block;
  width: 4rem;
  height: 4rem;
  margin: .8rem;
  font-size: 1.5rem;
  border-radius: 1rem;
  border: 4px solid rgba(0, 0, 0, .5);
  background-color: #505050;
  color: #fff;
  transform: rotate(45deg);
}

button > p {
  margin: 0;
  transform: rotate(315deg);
}

#espacio {
  display: none;
}

#creditos{
  display:block;
  padding-top:20px;
  color:#fff;
  text-align: center;
  width:300px;
}

#resultado{
  display:block;
  text-align: center;
  font-size: 40px;
  margin-bottom: 50px;
  width:300px;
  height: 100px;
  line-height: 100px;
  background-color:#fff;
  border-radius: 25px;
  overflow: hidden;
}