/* Se importa los recursos de las fuentes de Google */
@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap");

/* Se agregan propiedades generales */
/* Body */
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Ubuntu", sans-serif;
}

/* Tema Oscuro */
/* Header y Footer */
header > .contenedorEncabezado,
footer > .contenedorPieDePagina {
  height: 4.1rem;
  padding: 1.2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #515151;
  color: #fff;
}

footer > .contenedorPieDePagina {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}

/* Titulo principal */
.contenedorEncabezado > h1 {
  margin: 0;
  font-size: clamp(1.5rem, 5vw, 3rem);
  font-weight: 700;
}

/* Icono de cambio de tema */
.contenedorEncabezado i {
  margin-right: 0.5rem;
  font-size: clamp(1.5rem, 5vw, 2.5rem);
  cursor: pointer;
}

/* Titulo sobre legalidad */
.contenedorPieDePagina > h3 {
  font-size: clamp(0.5rem, 4vw, 1.2rem);
}

/* Main */
main {
  width: 100%;
  margin: 5.02rem 0;
  display: grid;
  place-items: center;
}

/* Calculadora */
main > .calculadora {
  display: block;
  width: 25rem;
  height: 38rem;
  margin: 0 auto;
  padding: 1rem;
  border-radius: 1rem;
  background-color: rgba(38, 38, 38, 0.5);
  box-shadow: 0 15px 35px rgba(0, 0, 0, 0.5), 0 10px 20px rgba(0, 0, 0, 0.5);
  position: relative;
}

/* Botones */
.calculadora td > button {
  display: block;
  width: 4.5rem;
  height: 4.5rem;
  margin: 0.8rem auto;
  font-size: 1.5rem;
  border-radius: 1rem;
  border: 4px solid rgba(0, 0, 0, 0.5);
  background-color: #505050;
  color: #fff;
  transform: rotate(45deg);
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.25);
}

/* Cambio de propiedades cuanndo el mouse pasa por encima del item */
.calculadora td > button:hover {
  background-color: #7b7b7b;
  transform: scale(0.9) rotate(45deg);
}

/* Caracteres de los botones */
button > p {
  margin: 0;
  transform: rotate(315deg);
  font-size: 2rem;
}

/* Botones igual y limpiar o eliminar */
#reset,
#equal {
  position: absolute;
  bottom: auto;
  margin: 0;
}

#reset {
  width: 5rem;
  height: 5rem;
}

#equal {
  width: 6rem;
  height: 6rem;
}

/* Panel o Display */
#result {
  display: block;
  width: 20.8rem;
  height: 3.5rem;
  margin-bottom: 1.5rem;
  padding: 0.5rem 1rem;
  text-align: right;
  font-size: 3rem;
  background-color: rgba(0, 0, 0, 0.4);
  border-radius: 25px;
  overflow: hidden;
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.25);
  color: #fff;
}

/* Tema Claro */
/* Body */
body.dark {
  background-color: #505050;
}

/* Header y Footer */
body.dark header > .contenedorEncabezado,
body.dark footer > .contenedorPieDePagina {
  background-color: #b9b9b9;
  color: #000;
}

/* Calculadora */
body.dark main > .calculadora {
  background-color: #d9d9d9;
  box-shadow: 0 15px 35px rgba(240, 240, 240, 0.5),
    0 10px 20px rgba(240, 240, 240, 0.5);
}

/* Panel o display y botones */
body.dark .calculadora td > button,
body.dark #result {
  background-color: rgba(147, 147, 147, 0.5);
  color: #000;
}

/* Botones cuando pasa el mouse por encia del item */
body.dark .calculadora td > button:hover {
  background-color: #696969;
}

/* Responsive para Mobile */
@media only screen and (max-width: 480px) {
  header > .contenedorEncabezado,
  footer > .contenedorPieDePagina {
    height: auto;
    padding: 0.5rem;
  }

  footer > .contenedorPieDePagina {
    position: initial;
  }

  header > .contenedorEncabezado > h1 > span {
    display: none;
  }

  main {
    margin: 1rem 0;
  }

  main > .calculadora {
    width: auto;
    height: 33rem;
  }

  .calculadora td > button {
    width: 3.5rem;
    height: 3.5rem;
  }

  #reset {
    width: 4rem;
    height: 4rem;
  }

  #equal {
    width: 4.5rem;
    height: 4.5rem;
  }

  #result {
    width: 14.8rem;
  }

  footer > .contenedorPieDePagina {
    flex-direction: column;
    text-align: center;
  }
}
